:root {
    --cor-primaria: #581480;
    --cor-primaria-escura: #422353;
    --cor-primaria-suave: #9177a0;
    --cor-fundo: #fffaec;
    --cor-fundo-navbar: #f1ede0;
    --cor-card: #b6b1b2be;
    --cor-borda: #e2e8f0;
    --cor-botao: #a8a8a8;
    --cor-card-melhor: #ffd561;
    --cor-footer: #474747;


    --cor-texto: #494949 ;
    --cor-texto-suave: #b1afaf;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

a {
    text-decoration: none;
    color: var(--cor-texto);
}

h1 {
    font-size: 50px;
    margin-bottom: -5px;
}

#nav-tittle-s {
    color: var(--cor-primaria);
}

#navbar {
    height: 70px;
    position: sticky;
    top: 0;
    background-color: var(--cor-fundo-navbar);
    z-index: 100;
    padding-top: 10px;
}

#nav-pc {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

#pessoa-sorrindo {
    position: fixed;
    right: 0;
    height: 600px;
    width: auto;
    background-color: var(--cor-primaria-suave);
    border-radius: 10px 0px 0px 10px;
}

#nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

#nav-tittle {
    left: 30px;
    position: absolute;
}

#nav-cel {
    display: none;
}

#nav-tittle {
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 1580px) {
    #pessoa-sorrindo {
        display: none;
    }
}

@media (max-width: 768px) {
    #nav-pc {
        display: none;
    }
    
    #nav-cel-container {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        margin-right: 30px;
    }

    #nav-btn {
        display: flex;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        font-size: 24px;
    }
}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-100px);
    height: 100vh;
}

#formulario_candidato {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formulario {
    background-color: var(--cor-card);
    padding: 5px 20px 20px 20px;
    border-radius: 15px;
    height: fit-content;
}

#form-titulo {
    text-align: center;
    margin-bottom: 40px;
    font-weight: bolder;
}

#btn-areas {
    cursor: pointer;
    border: none;
    color: var(--cor-texto);
    background-color: var(--cor-botao);
    width: 100%;
    border-radius: 6px;
    margin-top: 20px;
    padding: 10px;
}

#btn-habilidades {
    cursor: pointer;
    border: none;
    color: var(--cor-texto);
    background-color: var(--cor-botao);
    width: 100%;
    border-radius: 6px;
    margin-top: 20px;
    padding: 10px;
}

.card-section {
    margin-bottom: 10px;
}

.card-section input {
    border: none; 
    background-color: var(--cor-botao);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
}

#habilidades-chekbox {
    display: none;
} 

#areas-chekbox {
    display: none;
}

#habilidades-chekbox.menu-aberto {
    display: flex;
    flex-direction: column;
}

#areas-chekbox.menu-aberto {
    display: block;
}




#btn-enviar {
    cursor: pointer;
    border: none;
    color: var(--cor-texto);
    background-color: var(--cor-botao);
    width: 100%;
    border-radius: 6px;
    margin-top: 30px;
    padding: 10px;
}



#vagas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.vagas-card {
    background-color: var(--cor-card);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

#melhor-vaga {
    display: none;
    background-color: var(--cor-card-melhor);
    border-radius: 8px;
    max-width: 300px;
    max-height: auto;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
}

#recomendacao-estudo {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#recomendacao-estudo p {
    width: 50rem;
    background-color: var(--cor-card-melhor);
    padding: 20px;
    border-radius: 10px;
}

#footer {
    display: flex;
    justify-content: center;
    background-color: var(--cor-footer);
    color: rgb(15, 15, 15);
    height: 9vh;
    align-items: center;
}

#footer a {
    color: rgb(15, 15, 15);
}