* {
    margin: 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #000;
}

#navbar {
    display: flex;
    height: 70px;
    background-color: #927f7f;
    align-items: center;
}

#nav-pc {
    display: flex; 
    flex: 1;
}

#nav-tittle {
    justify-content: center;
    margin-left: 30px;
}

#nav-tittle-s {
    color: #fff;
}

#nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    flex: 1;
}

#main {
    height: 100vh;
}

#formulario_candidato {
    height: 100vh;
}

#nav-cel {
    display: none;
}

#nav-tittle {
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 768px) {
    #nav-pc {
        display: none;
    }
    
    #nav-cel-container {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        margin-right: 30px;
    }

    #nav-btn {
        display: flex;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        font-size: 24px;
    }
}